{% load static %}
<!DOCTYPE html>
<html lang="en" data-framework="django">
  <head>
    <title>{% block title %}{% endblock title %} | {{ VARIAVEIS_BASE.template_name }} - {{ VARIAVEIS_BASE.template_suffix }}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="{{ VARIAVEIS_BASE.template_description' %}" />
    <meta name="keywords" content="{{ VARIAVEIS_BASE.template_keyword' %}" />

    <!-- Canonical SEO -->
    <link rel="canonical" href="{{ VARIAVEIS_BASE.product_page }}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'imgage/favicon/favicon.ico' %}" />

    <!-- CSS -->
    {% include 'partials/styles.html' %}
    <!--Page CSS-->
    {% block page_css %}{% endblock page_css %}

    <!-- Include the scripts partial (required ) -->
    {% include "partials/initial_scripts.html" %}

  </head>

  <body>

    {% include 'partials/message.html' %}
    {% block content %}{% endblock content%}

    <!-- JS-->
    {% include "partials/end_scripts.html" %}
    {% block page_js %} {% endblock page_js %}

  </body>
</html>
